.container
    %ul
        - @task.errors.full_messages.each do |message|
            %li= message
    
    %h2.sign_title Card Repair

    = form_with(model: @task, url: board_task_path, method: 'put', local: true) do |f|
        %div
            = f.label :eyecatch, 'Eyecatch' , class: 'eyecatch'
        %div
            = f.file_field :eyecatch, class: 'eyecatch_field'
        %div
            = f.label :title, 'Name' , class: 'board_name'
        %div
            = f.text_field :title, class: 'board_text'
        %div
            = f.label :content, 'Description' , class: 'board_desc'
        %div
            = f.text_area :content, class: 'board_text_area'
        %div
            = f.submit 'submit', class: 'btn'