.container
    %ul
        - @board.errors.full_messages.each do |message|
            %li= message

    %h2.sign_title New Board

    = form_with(model: @board, url: board_path, method: 'put', local: true) do |f|
        = f.label :title, 'Name' , class: 'board_name'

        = f.text_field :title, class: 'board_text'

        = f.label :content, 'Description' , class: 'board_desc'

        = f.text_area :content, class: 'board_text_area'

        = f.submit 'submit', class: 'btn'