.container
    %h2.sign_title= @board.title
    .tasks
        - @tasks.each do |task|
            = link_to board_task_path(task) do
                .tasks_card
                    - if task.eyecatch.attached?
                        .task_img= image_tag task.eyecatch
                    .tasks_card_wrap
                        .tasks_title= task.title
                        - if user_signed_in? && current_user.has_added?(task)
                            .tasks_card_actions
                                .dropdown
                                    =image_tag 'Combined Shape.svg', class: 'dropbtn'
                                    .dropdown-content
                                        = link_to '編集する', edit_board_task_path(task)
                                        = link_to '削除する', board_task_path(task), data: { method: 'delete', confirm: '本当に削除してもよろしですか？' } 
                    .tasks_card_desc= task.content
                    %p.tasks_due_title 期限
                    .tasks_due= task.date
                    =image_tag task.user.display_icon, class: 'tasks_card_icon'
        - if user_signed_in?
            .add_tasks
                = link_to new_board_task_path(@board) do
                    .add_tasks_new
                        %p.add_tasks_title +Add new card
